.label {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  background-color: transparent;

  border: 1px solid #d1d1d1;
  background-color: #ffffff;
}

.label-ghost {
  border: 1px solid #d1d1d1;
  background-color: #d1d1d1;
}
.label-mint {
  border: 1px solid #77e6d7;
  background-color: #77e6d7;
}
.label-orange {
  border: 1px solid #f5a525;
  background-color: #f5a525;
}
.label-blue {
  border: 1px solid #4a90e0;
  background-color: #4a90e0;
}
.label-warning{
  border: 1px solid #c72306;
  background-color: #c72306;
}

.label-small-round {
  border-radius: 0.3rem;
}
.label-medium-round {
  border-radius: 2.0rem;
}
.label-large-round {
  border-radius:3.0rem;
}
