table {
  background-color: transparent;
}
caption {
  text-align: left;
}
.table {
  margin: 0rem 0rem 5.0rem;
  background-color: #fff;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  line-height: (18/14);
  vertical-align: middle;
  background-color: #fff;
}
.table > thead > tr > th {
  padding: 2.5rem 1.6rem;
}
.table > tbody > tr > td {
  padding: 1.6rem;
  text-align: center;
  word-break: break-all;
  white-space: normal;
  vertical-align: top;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
