/*
.reduce-rounded {
   -webkit-border-radius: (3/$vw)*100+vw !important;
   -moz-border-radius: (3/$vw)*100+vw !important;
   border-radius: (3/$vw)*100+vw !important;
 }
.remove-rounded {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
*/