/*$vw: 1080;
$vh: 1920;
*/
$base-black: #111820;
$bright-gray: #efefef;

$brand-color: #FFB700;
$brand-pointy-color: #ff9e16;
$pointy-color: #af001e;

$typo-base-black: #595757;
$typo-slight-black: #5d5d5d;
$typo-subhead-gray: #898989;

$button-pointy: #F4B12C;